.DS_Store
notes.md
sprites/dragon-0.png

sprites/dragon-1.png

sprites/dragon-2.png

sprites/dragon-3.png

sprites/dragon-4.png

sprites/dragon-5.png

sprites/wp4470740-1280x720.jpg

sprites/circle-white.png

sprites/beam.png

sprites/circle-gray.png

sprites/circle-red.png

sprites/hexagon-blue.png
